# Created by https://www.gitignore.io/api/laravel

### Homestead ###
Homestead.yaml

### Laravel ###
vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/cache
!storage/framework/sessions
!storage/framework/views

.vagrant/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/