.is-builder .animated {
  -webkit-animation-name: none !important;
  animation-name: none !important;
}
html {
  position: relative;
  min-height: 100%;
}
.embedded-video {
  position: relative;
}
.background-video,
.background-video-preview {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.parallax-background,
.background {
  background-attachment: fixed !important;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover !important;
}
.hidden-scrollbar .parallax-background {
  background-size: auto 130%;
}
.mobile .parallax-background {
  background-attachment: scroll !important;
}
.background {
  background-attachment: scroll !important;
}
.navbar {
  position: relative;
  width: 100%;
}
.navbar:before {
  content: "";
  display: block;
}
.navbar__brand-link:after,
.navbar__brand-img {
  max-height: 74px;
}
.navbar:before,
.navbar__container {
  height:0px;
}
.navbar--ss .navbar__brand-link:after,
.navbar--ss .navbar__brand-img {
  height: 74px;
}
.navbar--ss:before,
.navbar--ss .navbar__container {
  height: 98px;
}
.navbar--xs .navbar__brand-link:after,
.navbar--xs .navbar__brand-img {
  height: 32px;
}
.navbar--xs:before,
.navbar--xs .navbar__container {
  height: 56px;
}
.navbar--s .navbar__brand-link:after,
.navbar--s .navbar__brand-img {
  height: 48px;
}
.navbar--s:before,
.navbar--s .navbar__container {
  height: 72px;
}
.navbar--m .navbar__brand-link:after,
.navbar--m .navbar__brand-img {
  height: 64px;
}
.navbar--m:before,
.navbar--m .navbar__container {
  height: 88px;
}
.navbar--l .navbar__brand-link:after,
.navbar--l .navbar__brand-img {
  height: 96px;
}
.navbar--l:before,
.navbar--l .navbar__container {
  height: 120px;
}
.navbar--xl .navbar__brand-link:after,
.navbar--xl .navbar__brand-img {
  height: 128px;
}
.navbar--xl:before,
.navbar--xl .navbar__container {
  height: 152px;
}
.navbar--short .navbar__brand-link:after,
.navbar--short .navbar__brand-img {
  height: 40px;
}
.navbar--short:before,
.navbar--short .navbar__container {
  height: 64px;
}
.navbar--short .navbar__container {
  padding: 12px 0;
}
@media (max-width: 767px) {
  .navbar--short .navbar__brand-link:after,
  .navbar--short .navbar__brand-img {
    height: 31px;
  }
  .navbar--short:before,
  .navbar--short .navbar__container {
    height: 45px;
  }
  .navbar--short .navbar__container {
    padding: 7px 0;
  }
}
.navbar__brand-img {
  position: relative;
}
.navbar__brand-img,
.navbar__container,
.navbar__section {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.navbar__section {
  background: #2c2c2c;
  height: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar__container {
  display: table;
  padding: 12px 0;
  width: 100%;
}
.navbar__menu-box {
  display: table;
  width: 100%;
}
.navbar__menu-box--inline-left,
.navbar__menu-box--inline-center,
.navbar__menu-box--inline-right {
  display: block;
  text-align: left;
}
.navbar__menu-box--inline-center {
  text-align: center;
}
.navbar__menu-box--inline-right {
  text-align: right;
}
.navbar__column {
  display: table-cell;
  vertical-align: middle;
}
.navbar__column--xxs {
  width: 1%;
}
.navbar__column--xs {
  width: 10%;
}
.navbar__column--s {
  width: 20%;
}
.navbar__column--m {
  width: 30%;
}
.navbar__column--l {
  width: 40%;
}
.navbar__column--xl {
  width: 50%;
}
.navbar__menu-box--inline-left .navbar__column,
.navbar__menu-box--inline-center .navbar__column,
.navbar__menu-box--inline-right .navbar__column {
  display: inline-block;
}
.navbar__items {
  float: left;
  padding-left: 0px;
  position: relative;
  left: -20px;
}
.navbar__items--right {
  float: right;
  left: 0;
}
.float-left {
  float: left;
}
.navbar__item {
  display: block;
  float: left;
  position: relative;
}
.navbar__hamburger {
  display: none;
  margin-top: -11px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10000;
}
.navbar--collapsed .navbar__container {
  position: relative;
}
.navbar--collapsed .navbar__column {
  display: block;
  width: 100%;
}
.navbar--collapsed .navbar__items--right {
  padding-top: 13px;
}
.navbar--collapsed .navbar__menu {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.navbar--collapsed .navbar__menu-box {
  display: table-cell;
  vertical-align: middle;
}
.navbar--collapsed .navbar__items {
  float: none;
}
.navbar--collapsed .navbar__item {
  float: none;
}
.navbar--collapsed .navbar__hamburger {
  display: block;
}
.navbar--collapsed.navbar--open .navbar__menu {
  display: table;
}
.navbar--collapsed.navbar--open:not(.navbar--sticky) .navbar__section {
  background: none;
  position: fixed;
}
.navbar--collapsed.navbar--open .navbar__brand {
  visibility: hidden;
}
.navbar--collapsed.navbar--sticky.navbar--open .navbar__brand {
  visibility: visible;
}
.navbar--collapsed.navbar--open .navbar__brand-img,
.navbar--collapsed.navbar--open .navbar__container {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.navbar--freeze.navbar--collapsed.navbar--open .navbar__hamburger,
.navbar--freeze.navbar--collapsed.navbar--open .navbar__hamburger:hover {
  color: #fff !important;
}
.navbar--sticky .navbar__section {
  position: fixed;
}
.navbar--absolute {
  position: absolute;
}
.navbar--transparent .navbar__section {
  background: none;
}
.navbar--stuck .navbar__section,
.navbar--relative .navbar__section {
  background: #2c2c2c;
}
@media (max-width: 991px) {
  .navbar--auto-collapse .navbar__container {
    position: relative;
  }
  .navbar--auto-collapse .navbar__column {
    display: block;
    width: 100%;
  }
  .navbar__column {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y:auto;
  }
  .navbar__column::-webkit-scrollbar {
    display:none;
  }
  .navbar--auto-collapse .navbar__items--right {
    padding-top: 13px;
  }
  .navbar--auto-collapse .navbar__menu {
    background: rgba(0, 0, 0, 0.9);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .navbar--auto-collapse .navbar__menu-box {
    display: table-cell;
    vertical-align: middle;
  }
  .navbar--auto-collapse .navbar__items {
    float: none;
  }
  .navbar--auto-collapse .navbar__item {
    float: none;
  }
  .navbar--auto-collapse .navbar__hamburger {
    display: block;
  }
  .navbar--auto-collapse.navbar--open .navbar__menu {
    display: table;
  }
  .navbar--auto-collapse.navbar--open:not(.navbar--sticky) .navbar__section {
    background: none;
    position: fixed;
  }
  .navbar--auto-collapse.navbar--open .navbar__brand {
    visibility: hidden;
  }
  .navbar--auto-collapse.navbar--sticky.navbar--open .navbar__brand {
    visibility: visible;
  }
  .navbar--auto-collapse.navbar--open .navbar__brand-img,
  .navbar--auto-collapse.navbar--open .navbar__container {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.after-navbar:before {
  content: "";
  display: block;
  height: 98px;
}
.hamburger {
  cursor: pointer;
  height: 23px;
  width: 30px;
}
.hamburger:focus {
  outline: none;
}
.hamburger__line,
.hamburger__line:before,
.hamburger__line:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  cursor: pointer;
}
.hamburger__line,
.hamburger__line:before,
.hamburger__line:after {
  width: 30px;
  border-bottom: 5px solid;
  top: 9px;
}
.hamburger__line:before {
  top: -9px;
}
.hamburger__line:after {
  top: 9px;
}
.hamburger__line,
.hamburger__line:before,
.hamburger__line:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.hamburger--open .hamburger__line {
  border-color: transparent;
}
.hamburger--open .hamburger__line:before,
.hamburger--open .hamburger__line:after {
  top: 0;
}
.hamburger--open .hamburger__line:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger--open .hamburger__line:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg);
}
@media (max-width: 767px) {
  .hamburger {
    height: 23px;
    width: 27px;
  }
  .hamburger__line,
  .hamburger__line:before,
  .hamburger__line:after {
    width: 27px;
    border-bottom: 4px solid;
    top: 9px;
  }
  .hamburger__line:before {
    top: -9px;
  }
  .hamburger__line:after {
    top: 9px;
  }
}
.brand {
  display: block;
  float: left;
  position: relative;
}
.brand,
.brand:hover {
  text-decoration: none;
}
.brand__name {
  display: block;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}
.brand__name,
.brand__name:hover {
  text-decoration: none;
}
.brand--inline {
  display: table;
}
.brand--inline:after {
  content: "";
  display: table-cell;
  width: 1px;
}
.brand--inline .brand__logo,
.brand--inline .brand__name {
  display: table-cell;
  vertical-align: middle;
}
.brand--inline .brand__logo {
  padding-right: 10px;
}
.brand--inline .brand__name {
  margin: 0;
  text-align: left;
}
.form {
  display: table;
  margin-top: -13px;
  position: relative;
  top: 14px;
  width: 100%;
}
.form__left,
.form__right {
  display: table-cell;
  vertical-align: top;
}
.form__left {
  padding-right: 3px;
}
.form__right {
  width: 1px;
}
@media (max-width: 530px) {
  .form {
    display: block;
    margin-top: -27px;
    position: relative;
    top: 26px;
  }
  .form__left,
  .form__right {
    display: block;
  }
  .form__left {
    margin-bottom: 12px;
    padding-right: 0;
  }
  .form__right {
    width: 100%;
  }
}
.section {
  padding: 20px;
}
.section--no-padding {
  padding: 0;
}
.section--relative {
  position: relative;
}
.section--fixed-size {
  overflow: hidden;
}
.section--full-height {
  height: 30vh;
}
.section--full-height.after-navbar:before {
  display: none;
}
.section--bg-adapted {
  background-attachment: scroll;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.section--gray {
  background-color: #444444;
}
.section--light-gray {
  background-color: #f0f0f0;
}
.section--dark-gray {
  background-color: #3c3c3c;
}
.section__container {
  padding: 0;
  position: relative;
  z-index: 3;
}
.section__container--center {
  text-align: center;
}
.section__container--std-padding {
  padding: 43px 0;
}
.section__container--std-top-padding {
  padding-top: 43px;
}
.section__container--std-bot-padding {
  padding-bottom: 43px;
}
.section__container--sm-padding {
  padding: 41px 0;
}
.section__container--sm-top-padding {
  padding-top: 41px;
}
.section__container--sm-bot-padding {
  padding-bottom: 41px;
}
.section__container--isolated {
  padding-bottom: 43px;
  padding-top: 43px;
}
.section__container--first {
  padding-top: 43px;
  padding-bottom: 41px;
}
.section__container--middle {
  padding-bottom: 41px;
}
.section__container--last {
  padding-bottom: 93px;
}
.section__row {
  margin-left: -24px;
  margin-right: -24px;
}
.section__col {
  overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
}
.section__left {
  padding-right: 40px;
}
.section__right {
  padding-left: 15px;
}
.section__header {
  line-height: 1.5em;
  margin: -10px 0 0;
  text-align: center;
}
@media (min-width: 768px) {
  .section--short-paddings .section__container--std-padding {
    padding: 59px 0;
  }
  .section--short-paddings .section__container--std-top-padding {
    padding-top: 59px;
  }
  .section--short-paddings .section__container--std-bot-padding {
    padding-bottom: 59px;
  }
  .section--short-paddings .section__container--sm-padding {
    padding: 41px 0;
  }
  .section--short-paddings .section__container--sm-top-padding {
    padding-top: 41px;
  }
  .section--short-paddings .section__container--sm-bot-padding {
    padding-bottom: 41px;
  }
  .section--short-paddings .section__container--isolated {
    padding-bottom: 59px;
    padding-top: 59px;
  }
  .section--short-paddings .section__container--first {
    padding-top: 59px;
    padding-bottom: 41px;
  }
  .section--short-paddings .section__container--middle {
    padding-bottom: 41px;
  }
  .section--short-paddings .section__container--last {
    padding-bottom: 59px;
  }
}
@media (max-width: 767px) {
  .section__left {
    padding-right: 15px;
  }
  .section__right {
    padding-left: 15px;
    padding-top: 51px;
  }
}
.arrow {
  bottom: 71px;
  left: 0;
  line-height: 1px;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.arrow__link {
  display: inline-block;
  font-size: 26px;
}
.arrow__link,
.arrow__link:hover,
.arrow__link:focus {
  color: #fff;
}
.arrow--floating .arrow__link {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s;
}
@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.arrow--dark .arrow__link,
.arrow--dark .arrow__link:hover,
.arrow--dark .arrow__link:focus {
  color: #252525;
}
@media (max-width: 767px) {
  .arrow {
    bottom: 41px;
  }
}
@media (max-width: 320px) {
  .arrow {
    bottom: 21px;
    text-align: center;
  }
}
@media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .arrow {
    bottom: 31px;
  }
}
.box {
  display: table;
  width: 100%;
}
.box--fixed {
  table-layout: fixed;
}
.box--stretched {
  height: 100%;
}
.box__magnet {
  display: table-cell;
  float: none;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
}
.box__magnet--sm-padding {
  padding: 41px 0;
}
.box__magnet--top-left,
.box__magnet--top-center,
.box__magnet--top-right {
  vertical-align: top;
}
.box__magnet--bottom-left,
.box__magnet--bottom-center,
.box__magnet--bottom-right {
  vertical-align: bottom;
}
.box__magnet--top-left,
.box__magnet--center-left,
.box__magnet--bottom-left {
  text-align: left;
}
.box__magnet--top-right,
.box__magnet--center-right,
.box__magnet--bottom-right {
  text-align: right;
}
.box__container {
  height: 50%;
}
@media (max-width: 767px) {
  .box__container {
    height: 100%;
  }
  .box--adapted {
    display: block;
  }
  .box--adapted > .box__magnet {
    display: block;
    height: auto;
  }
}
.overlay {
  background: #222;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.google-map__marker {
  color: #252525;
  display: none;
  margin: 0;
}
.google-map--loaded .google-map__marker {
  display: block;
}
.hero {
  color: #fff;
  position: relative;
  padding-top:40px;
  padding-left:0px;
}
.hero__text {
  font-size: 46px;
  font-weight: 600;
  left: -2px;
  letter-spacing: 2px;
  line-height: 50px;
  margin: -18px 0 1px 0;
  padding-bottom: 41px;
  position: relative;
  top: 8px;
}
.hero__subtext {
  font-size: 21px;
  line-height: 29px;
  margin: -32px 0 3px 0;
  padding: 0 0 41px 0;
  position: relative;
  top: 6px;
}
.figure {
  display: inline-block;
  line-height: 1px;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.figure--no-bg {
  background: none;
}
.figure--full-width {
  display: block;
  width: 100%;
}
.figure.after-navbar:before {
  display: none;
}
.figure--full-width iframe,
.figure--full-width .figure__img,
.figure--full-width .figure__map {
  width: 100%;
}
.figure iframe,
.figure__img,
.figure__map {
  max-width: 100%;
}
.figure__map {
  height: 400px;
  line-height: 1.3em;
}
.figure__map--short {
  height: 300px;
}
.figure__caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 17px;
  left: 0;
  line-height: 1.3em;
  min-height: 53px;
  padding: 17px 20px;
  position: absolute;
  text-align: left;
  width: 100%;
}
.figure__caption--no-padding {
  padding: 17px 0;
}
.figure--wysiwyg .figure__caption a,
.figure--wysiwyg .figure__caption a:hover {
  color: inherit;
  text-decoration: underline;
}
.figure--caption-inside-top .figure__caption {
  bottom: auto;
  top: 0;
}
.figure--caption-outside-top .figure__caption,
.figure--caption-outside-bottom .figure__caption {
  background: none;
  position: relative;
}
.figure--no-bg.figure--caption-outside-top .figure__caption,
.figure--no-bg.figure--caption-outside-bottom .figure__caption {
  color: #252525;
}
.figure--no-bg.figure--caption-outside-top .figure__caption {
  margin-top: -3px;
  padding-top: 0;
}
.figure--no-bg.figure--caption-outside-bottom .figure__caption {
  margin-top: -2px;
  padding-bottom: 0;
  top: 2px;
}
.figure__caption--std-grid {
  background: none;
  z-index: 2;
}
@media (min-width: 768px) {
  .figure__caption--std-grid {
    width: 715px;
    left: 50%;
    margin-left: -357.5px;
    padding: 17px 0;
  }
}
@media (min-width: 992px) {
  .figure__caption--std-grid {
    width: 935px;
    margin-left: -467.5px;
  }
}
@media (min-width: 1200px) {
  .figure__caption--std-grid {
    width: 1150px;
    margin-left: -575px;
  }
}
.figure__caption--std-grid:before {
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 200%;
  z-index: -1;
  margin-left: -50%;
}
.figure--caption-inside-top .figure__caption--std-grid:before,
.figure--caption-inside-bottom .figure__caption--std-grid:before {
  background: rgba(0, 0, 0, 0.6);
}
.figure__caption-small {
  color: #ccc;
  display: block;
  font-size: 14px;
  line-height: 1.3em;
}
.figure--no-bg.figure--caption-outside-top .figure__caption-small,
.figure--no-bg.figure--caption-outside-bottom .figure__caption-small {
  color: #777;
}
@media (max-width: 767px) {
  .figure--adapted {
    display: block;
    width: 100%;
  }
  .figure--adapted iframe,
  .figure--adapted .figure__img,
  .figure--adapted .figure__map {
    width: 100%;
  }
  .figure--caption-inside-top .figure__caption,
  .figure--caption-inside-bottom .figure__caption {
    background: none;
    position: relative;
  }
  .figure--caption-inside-top .figure__caption--std-grid:before,
  .figure--caption-inside-bottom .figure__caption--std-grid:before {
    display: none;
  }
}
.reviews {
  list-style: none;
  margin: 0 -15px;
  padding: 3px 0 0 0;
}
.reviews__item {
  position: relative;
  margin-top: 39px;
}
.reviews__text {
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #ededed;
  color: #777;
  font-size: 16px;
  line-height: 26px;
  padding: 20px;
  position: relative;
}
.reviews__text:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
  height: 14px;
  background-color: #fafafa;
  border-color: #ededed;
  border-style: none solid solid none;
  border-width: 0 1px 1px 0;
  bottom: -8px;
  content: "";
  display: block;
  left: 50px;
  position: absolute;
}
.reviews__p {
  margin: 0;
}
.reviews__author {
  margin-top: 30px;
  padding-left: 102px;
  position: relative;
}
.reviews__author--short {
  margin-top: 27px;
  padding-left: 32px;
}
.reviews__author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 33px;
  position: absolute;
  top: 0;
}
.reviews__author-name {
  color: #777;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: -3px;
}
.reviews__author-bio {
  color: #999;
  font-size: 12px;
}
@media (max-width: 767px) {
  .reviews__author {
    padding-bottom: 32px;
  }
  .reviews__author--short {
    padding-bottom: 1px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .reviews__item:nth-of-type(2n+1) {
    clear: left;
  }
}
@media (min-width: 992px) {
  .reviews__item:nth-of-type(3n+1) {
    clear: left;
  }
}
@media (max-width: 991px) {
  .header--reduce .header__text {
    padding-top: 1em;
    margin-top: -1em;
  }
}

.header--std-padding {
  padding-bottom: 41px;
}
.header--center {
  text-align: center;
}
.header__text {
  display: block;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 1.5em;
  margin: 0;
}
.header__subtext {
  color: #777;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
  margin: 8px 0 7px 0;
}
.header--inline {
  margin-top: 0;
  padding: 41px 0 28px 0;
  top: 0;
}
.header--inline .header__text {
  letter-spacing: 4px;
  line-height: 1em;
  margin: 15px 0 0 0;
}
@media (max-width: 767px) {
  .header--inline {
    padding: 47px 0 38px 0;
  }
  .header--inline .header__text {
    display: block;
    margin: 0 0 38px 0;
  }
  .header--auto-align .header__text,
  .header--auto-align .header__subtext {
    left: 0;
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .header--reduce {
    margin-top: -5px;
    top: 2px;
  }
  .header--reduce .header__text {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.1em;
    padding-top: 0.4em;
    margin-top: -0.4em;
  }
}
.social-icons__icon {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 29px;
  height: 56px;
  line-height: 61px;
  margin: 0 10px 13px 0;
  position: relative;
  text-align: center;
  width: 56px;
}
.social-icons__icon:hover {
  color: #fff;
}
.social-icons--style-1 .social-icons__icon:hover {
  background: #252525 !important;
}
.contacts {
  color: #9c9c9c;
  font-size: 14px;
  line-height: 1.7em;
  padding: 45px 0 46px;
}
.contacts__img {
  max-width: 100%;
  margin: 6px 0 5px 40px;
}
.contacts__img--left {
  margin-left: 0;
}
.contacts__text {
  margin: 0;
}
.contacts__header {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 3px;
}
.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .contacts__img {
    margin-bottom: 10px;
  }
  .contacts__header {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .contacts__column {
    margin-top: 37px;
  }
}
.footer {
  color: #9c9c9c;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding: 37px 0 39px;
  word-spacing: 1px;
}
.footer__copyright {
  margin: 0;
}
.buttons {
  margin: -26px 0 13px 0;
  position: relative;
  text-align: left;
  top: 26px;
}
.buttons__btn,
.buttons__link {
  margin: 0 10px 3px 0;
}
.buttons__btn,
.buttons__link,
.buttons__btn:hover,
.buttons__link:hover {
  text-decoration: none;
}
.buttons--top {
  top: 44px;
  margin-top: -62px;
}
.buttons--no-offset {
  margin-top: 0;
  top: 0;
}
.buttons--only-links {
  left: -20px;
}
.buttons--center {
  left: 5px;
  text-align: center;
}
.buttons--center.buttons--only-links {
  left: 0;
}
.buttons--right {
  text-align: right;
}
.buttons--right .buttons__btn,
.buttons--right .buttons__link {
  margin: 0 0 13px 10px;
}
.buttons--right.buttons--only-links {
  left: 20px;
}
.buttons--activated {
  left: 5px;
  text-align: center;
}
.buttons--activated .buttons__btn,
.buttons--activated .buttons__link {
  margin-left: 0;
  margin-right: 0;
}
.buttons--activated .buttons__link {
  font-size: 25px;
  padding: 10px 30px 2px;
}
.buttons--activated .buttons__btn {
  font-size: 15px;
  margin-top: 9px;
  padding: 15px 30px;
}
.buttons--freeze.buttons--activated .buttons__link {
  font-size: 25px !important;
}
.buttons--freeze.buttons--activated .buttons__link,
.buttons--freeze.buttons--activated .buttons__link:hover {
  color: #fff !important;
}
.buttons--freeze.buttons--activated .buttons__btn {
  font-size: 15px !important;
}
@media (max-width: 991px) {
  .buttons {
    top: 0;
  }
  .buttons:first-child {
    margin-top: 0;
  }
  .buttons--active {
    left: 5px;
    text-align: center;
  }
  .buttons--active .buttons__btn,
  .buttons--active .buttons__link {
    margin-left: 0;
    margin-right: 0;
  }
  .buttons--right.buttons--only-links {
    left: 0;
  }
  .buttons--active .buttons__link {
    font-size: 25px;
    padding: 10px 30px 2px;
  }
  .buttons--active .buttons__btn {
    font-size: 15px;
    margin-top: 9px;
    padding: 15px 30px;
  }
  .buttons--freeze.buttons--active .buttons__link {
    font-size: 25px !important;
  }
  .buttons--freeze.buttons--active .buttons__link,
  .buttons--freeze.buttons--active .buttons__link:hover {
    color: #fff !important;
  }
  .buttons--freeze.buttons--active .buttons__btn {
    font-size: 15px !important;
  }
}
@media (max-width: 767px) {
  .buttons--auto-align {
    left: 5px;
    margin-top: -26px;
    text-align: center;
    top: 26px;
  }
  .buttons--auto-align.buttons--only-links {
    left: 0;
  }
}
@media (max-width: 530px) {
  .buttons {
    left: 0;
  }
  .buttons__btn,
  .buttons__link,
  .buttons--right .buttons__btn,
  .buttons--right .buttons__link {
    display: inline-block;
    margin: 0 0 13px 0;
    text-align: center;
    width: 100%;
  }
  .buttons--activated .buttons__btn,
  .buttons--activated .buttons__link,
  .buttons--active .buttons__btn,
  .buttons--active .buttons__link {
    width: auto;
  }
  .buttons--activated .buttons__btn,
  .buttons--active .buttons__btn {
    margin-top: 9px;
  }
}
.article {
  color: #777;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
  position: relative;
  margin-top: -21px;
  top: 14px;
}
.article--wysiwyg h1,
.article--wysiwyg h2,
.article--wysiwyg h3,
.article--wysiwyg h4,
.article--wysiwyg h5,
.article--wysiwyg h6 {
  color: #252525;
  display: block;
  font-weight: 600;
  line-height: 1.3em;
  text-align: left;
}
.article--wysiwyg h1 {
  font-size: 27px;
  letter-spacing: 3px;
}
.article--wysiwyg h2 {
  font-size: 23px;
  letter-spacing: 2px;
}
.article--wysiwyg h3 {
  font-size: 19px;
  letter-spacing: 1px;
}
.article--wysiwyg h4 {
  font-size: 14px;
}
.article--wysiwyg h5 {
  font-size: 11px;
}
.article--wysiwyg h6 {
  font-size: 10px;
}
.article--wysiwyg p,
.article--wysiwyg ul,
.article--wysiwyg ol,
.article--wysiwyg blockquote {
  margin: 0 0 10px 0;
}
.article--wysiwyg blockquote {
  font-size: 17px;
  border-color: #f97352;
}
@media (max-width: 767px) {
  .article--auto-align.article--wysiwyg p,
  .article--auto-align {
    text-align: left !important;
  }
}
.social-likes__counter {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  background: #3c3c3c;
  border-radius: 23px;
  font-size: 12px;
  height: 23px;
  line-height: 24px;
  min-width: 23px;
  padding: 0 5px;
  position: absolute;
  right: -7px;
  text-align: center;
  top: -7px;
}
.social-likes__counter_empty {
  display: none;
}
.social-likes_style-1 .social-likes__icon:hover {
  background: #252525 !important;
}
.social-likes_style-1 .social-likes__icon:hover .social-likes__counter {
  background: #f97352;
}
.social-likes_style-2 .social-likes__icon {
  background: #252525;
}
.social-likes_style-2 .social-likes__counter {
  background: #f97352;
}
.social-likes_style-2 .social-likes__icon:hover .social-likes__counter {
  background: #3c3c3c;
}
.plan {
  padding-bottom: 41px;
  padding-left: 1px;
  padding-right: 0;
  position: relative;
}
.plan--first,
.plan:first-child {
  padding-left: 0;
}
.plan--last,
.plan:last-child {
  padding-bottom: 93px;
}
.plan__box {
  background: #fff;
}
.plan__header {
  background: #444;
  overflow: hidden;
  padding: 20px 15px;
  color: #fff;
}
.plan__number {
  border-bottom: 1px dotted #ddd;
  color: #333;
  font-size: 80px;
  line-height: 0;
  margin: 0px 10px;
  padding: 41px 0;
  text-align: center;
  margin-bottom: 41px;
}
.plan__details {
  padding-bottom: 41px;
}
.plan__details ul,
.plan__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.plan__details li,
.plan__item {
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
}
.plan__buttons {
  overflow: hidden;
  padding: 0 15px 41px;
}
.plan--favorite {
  margin-right: -1px;
  margin-top: -30px;
  padding-left: 0;
  top: 15px;
  z-index: 5;
}
.plan--favorite .plan__number:before {
  content: "";
  display: block;
  height: 15px;
}
.plan--favorite .plan__box {
  padding-bottom: 15px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}
.plan--primary .plan__header {
  background: #4c6972;
}
.plan--success .plan__header {
  background: #7ac673;
}
.plan--info .plan__header {
  background: #27aae0;
}
.plan--warning .plan__header {
  background: #faaf40;
}
.plan--danger .plan__header {
  background: #f97352;
}
@media (max-width: 767px) {
  .plan,
  .plan--first,
  .plan:first-child {
    padding-left: 15px;
    padding-right: 15px;
  }
  .plan__number {
    font-size: 79px;
  }
  .plan__details {
    font-size: 17px;
  }
  .plan--favorite {
    margin: 0;
    top: 0;
  }
}
.number {
  display: inline-block;
  margin-top: -0.12em;
}
.number__num {
  display: inline-table;
  height: 1em;
}
.number__group {
  display: table-cell;
  font-weight: 600;
  position: relative;
  vertical-align: middle;
}
.number__left {
  display: none;
  font-size: 0.34em;
  line-height: 0;
  padding: 0px 5px;
  vertical-align: super;
}
.number__right {
  display: none;
  font-size: 0.25em;
  padding: 0px 5px;
  vertical-align: middle;
  white-space: nowrap;
}
.number__caption {
  display: block;
  font-size: 0.19em;
  line-height: 1em;
  opacity: 0.5;
  padding-top: 0.5em;
  text-align: center;
}
.number--price .number__value {
  padding-right: 0.28em;
}
.number--price .number__left {
  display: inline;
}
.number--short-price .number__left,
.number--short-price .number__right {
  display: inline;
}
.number--short-price .number__caption {
  display: none;
}
.number--inverse-price .number__group {
  top: 0.1em;
}
.number--inverse-price .number__left {
  display: none;
}
.number--inverse-price .number__value {
  padding-left: 0.28em;
}
.number--inverse-price .number__right {
  display: inline;
}
.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
}
